@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  background-color: #bbb;
}

.wrapper {
  margin: 3em auto;
}

.app {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-shadow: 0 3px 10px 3px #aaa;
  border-right: 0.01em solid #333;
  border-bottom: 0.01em solid #333;
}

.app .result {
  width: 100%;
  background-color: rgb(71, 68, 67);
  min-height: 2.5em;
  color: white;
}

.app .result > p {
  font-size: 2em;
  padding: 0 10px;
  text-align: right;
  margin: 0;
}

.app span {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: 25%;
  background-color: rgb(112, 109, 108);
  line-height: 2em;
  border-top: 0.01em solid #333;
  border-left: 0.01em solid #333;
  color: white;
}

.app .operator {
  background-color: rgb(236, 144, 47);
}

.app .zero {
  width: 50%;
}

.app .modifiers {
  background-color: rgb(89, 84, 83);
}

.app .clicked {
  filter: brightness(90%);
}
